.ConhecimentosContainer{
    @apply flex flex-col items-center justify-center mt-40 w-full
    lg:flex-row
}

.ConhecimentosContent{
    @apply  flex flex-col items-center justify-center w-full flex-wrap
    lg:flex-row lg:items-start
}

.ConhecimentoInfo{
    @apply flex flex-col w-[95%] items-start flex-wrap justify-start
    lg:w-[40%] lg:mt-10
    sm:w-[80%]

}

.ConhecimentoInfo h1{
    @apply text-3xl font-bold text-[#fff] mt-2 ;
}
.Info{
    @apply text-[#B0ADAD] mt-16 w-full h-auto flex items-start
    text-lg font-semibold text-start
    lg:mt-7
    mt-16;
}

.ConhecimentosCards{
    @apply flex flex-row items-center justify-start flex-wrap w-[100%] mt-20
    2xl:w-[45em]
    lg:w-[50%] lg:mt-0
    md:w-[100%] md:mt-80
    sm:w-[90%] sm:mt-64
}
.ConhecimentosCardsContent{
    @apply flex flex-row flex-wrap w-full items-center justify-center
}

.SpanBox{
    @apply w-[5.5em] flex items-center justify-center ml-3 text-white
    font-semibold text-lg text-[#B0ADAD] absolute hidden
    sm:w-[7em]
}

.ContainerCards:hover .SpanBox{
    @apply block
}

{/* Easter Egg */}

.SpanBoxRebel{
    @apply w-[5.5em] flex items-center justify-center ml-3 text-white
    font-semibold text-lg text-[#B0ADAD] absolute
    sm:w-[7em]
}

