.ConhecimentosContainer{
    @apply flex flex-col items-center justify-center mt-40 w-full overflow-hidden
    lg:flex-row
}

.ConhecimentosContent{
    @apply  flex flex-col items-center justify-center w-full flex-wrap
    lg:flex-row lg:items-start

}

.ConhecimentoInfo{
    @apply flex flex-col w-[100%] items-start flex-wrap justify-start
    lg:w-[40%] lg:mt-10
    sm:w-[80%]

}

.ConhecimentoInfo h1{
    @apply text-2xl font-bold text-[#fff] mt-2 px-6
    sm:text-3xl sm:px-0
}
.Info{
    @apply text-[#B0ADAD] mt-10 w-full h-auto flex items-start px-6
    text-base font-semibold text-start
    sm:text-lg sm:px-0
    lg:mt-7

}

.ConhecimentosCards{
    @apply flex flex-row items-center justify-start flex-wrap w-[100%] mt-20
    2xl:w-[45em]
    lg:w-[50%] lg:mt-0
    md:w-[100%] md:mt-80
    sm:w-[90%] sm:mt-64
}
.ConhecimentosCardsContent{
    @apply flex flex-row flex-wrap w-full items-center justify-center
}

.SpanBox{
    @apply w-[5.5em] flex items-center justify-center ml-3 text-white
    font-semibold text-lg text-[#B0ADAD] absolute hidden
    sm:w-[7em]
}

.ContainerCards:hover .SpanBox{
    @apply block
}

{/* Easter Egg */}

.SpanBoxRebel{
    @apply w-[5.5em] flex items-center justify-center ml-3 text-white
    font-semibold text-lg text-[#B0ADAD] absolute
    sm:w-[7em]
}

