.ContainerCards{
    @apply flex flex-col
}
.SpanBox{
    @apply w-[5.5em] flex items-center justify-center ml-3 text-white
    font-semibold text-lg text-[#B0ADAD] absolute hidden
    sm:w-[7em]
}

.ContainerCards:hover .SpanBox{
    @apply block
}

/* Icon */
.IconBox{
    @apply flex items-center justify-center border-[#212121] w-[6.2em] h-[8.5em] my-10 mx-3
    sm:w-[8em] sm:h-[9em]

}
.IconBox:hover{
    @apply ease-in duration-500 transition border-blue-500 border
}

.Icon{
    @apply text-blue-400 bg-transparent w-2/4 h-3/4
}

.IconRebel{
    @apply text-red-700 bg-transparent w-2/4 h-3/4

}
.IconRebelHidden{
    @apply hidden
}

.SpanBoxRebel{
    @apply w-[5.5em] flex items-center justify-center ml-3 text-white
    font-semibold text-lg text-[#B0ADAD] absolute
    sm:w-[7em]
}