.PortfolioContainer{
    @apply flex flex-col items-center text-white w-full  mt-20 px-6
    md:px-14
}
.PortfolioText{
    @apply flex flex-col items-center justify-center;
}

.PortfolioTittle{
    @apply text-xl text-left mt-14 text-[#4C70EF] font-semibold tracking-[3px]
    sm:text-2xl
}

.LastProject{
    @apply text-3xl text-center mt-5 font-semibold tracking-widest
    md:text-4xl
}

.PortfolioCardsContainer{
    @apply flex flex-row justify-around mt-20 w-full flex-wrap items-center
    md:flex md:flex-row md:mt-20 md:flex-wrap

}
.ButtonMore{
    @apply text-sm text-center mt-10 font-semibold tracking-widest rounded-full w-auto px-5 py-2
    flex items-center justify-center
    bg-gradient-to-br to-blue-400 via-[#4C70EF] from-blue-600
    hover:transition-all hover:duration-500 hover:scale-110

}