.NavMobileIcon{
    @apply h-[30px] w-[30px] cursor-pointer
    sm:hidden
}

.NavbarMobile{
    @apply flex flex-col items-center justify-center bg-[#292c36f8] text-white
    w-[100%] rounded-xl mt-48 fixed right-0 ;
}
.NavbarMobile a{
     @apply w-full py-1 px-1 rounded-lg
}
.NavbarMobile a:hover{
    @apply bg-[#38405A] text-white text-xl
}
.NavOpen{
    @apply flex
}
.NavClose{
    @apply hidden
}


.HeaderContent{
    @apply w-full h-24 flex flex-row justify-between items-center fixed
    text-white flex-wrap ;
}

.HeaderLogo{
    @apply w-1/4 h-full flex flex-row justify-center items-center text-2xl ml-14
    md:ml-5
    ;
}
.LogoH{
    @apply w-[3.5em] h-[3.5em] mr-[1em]
}

.HeaderMenu{
    @apply w-2/4 h-full flex flex-row justify-end  h-full mr-[1em] items-center
    xl:w-2/4 xl:h-full xl:flex xl:flex-row xl:justify-end  xl:h-full xl:mr-[15em]
    lg:w-2/4 lg:h-full lg:flex lg:flex-row lg:justify-end  lg:h-full lg:mr-[3em]
    md:w-2/4 md:h-full md:flex md:flex-row md:justify-end  md:h-full md:mr-[3em]
    sm:w-2/4 sm:h-full sm:flex sm:flex-row sm:justify-end  sm:h-full sm:mr-[1em]

}

ul{
    @apply flex-row  items-center space-x-0 hidden
    xl:space-x-14
    lg:space-x-7
    md:space-x-5
    sm:space-x-3 sm:flex

}
li{
    @apply text-lg
    xl:text-2xl
    lg:text-2xl
    md:text-2xl
    sm:text-xl;
}

li:hover{
    @apply text-gray-300
}