.HeaderContent{
    @apply w-full h-24 hidden flex-row justify-between fixed px-10
    text-white flex-wrap
    lg:px-20 sm:px-4 md:px-10 md:flex
}

.HeaderLogo{
    @apply h-full flex flex-row justify-center items-center text-2xl
}
.LogoH{
    @apply w-[3.5em] h-[3.5em] mr-[1em]
}

.HeaderMenu{
    @apply h-full flex flex-row h-full items-center
}

ul{
    @apply flex-row hidden
     sm:flex

}
li{
    @apply text-lg px-4 py-1 rounded-md

}

li:hover{
    @apply text-gray-300 bg-[#ccc] text-black
}