.InicioContainer{
    @apply h-[65vh] w-[100%] flex flex-col justify-center items-center
    md:h-[85vh]
}

.InicioCenter{
    @apply bg-transparent w-[90%] h-[50%] text-white mt-40
    md:mt-80

}

.ApresText{
    font-family: sans-serif;
    @apply text-5xl text-center font-medium
    sm:text-7xl
    md:text-8xl
}

.ApresText-2{
    @apply text-xl text-center font-semibold mt-7
    sm:text-2xl
}
.InicioIcons{
    @apply flex justify-center items-center mt-7 space-x-7
}

.IconClass{
    @apply h-[2.3em] w-[2.3em]
    sm:h-[2.8em] sm:w-[2.8em]
}

.IconClass:hover, .IconClassLinkdin:hover{
    @apply transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300
}