.SobreMimContainer{
    @apply flex flex-col justify-center items-center w-[100%] h-[100%];
}
.SobreMimContent{
    @apply text-white w-full h-[40%] flex justify-center items-center flex-wrap px-6
    xl:md:w-[80%]
    md:w-[90%] md:px-0
    sm:px-6


}

.SobreMimLeft{
    @apply w-full h-auto flex flex-col
    lg:w-1/2
}

.SobreMimRight{
    @apply w-full h-auto flex flex-col items-center justify-center mt-10 z-0
    lg:w-1/2
}


.MyPhoto{
    animation: morph 3.5s linear infinite;
    @apply w-[20em] h-auto rounded-full object-cover object-center
    sm:w-[23em] sm:h-[23em]
    lg:ml-16


}

.Tittle-About{
    @apply text-2xl mt-14 text-[#4C70EF] font-semibold tracking-[3px] text-left;
}

.Tittle-Apresentation{
    @apply text-5xl text-left mt-8
}

.About{
    @apply text-left mt-6 text-2xl text-[#B0ADAD] w-full
    items-center justify-center flex flex-col
}
.AboutEmail{
    @apply flex items-center w-full justify-center
}
.MyEmail{
    @apply mt-10 text-white border-2 border-dashed border-[#B0ADAD] px-20 py-3 text-lg text-center rounded-[10px] cursor-pointer
}
.AboutEmail:hover{
    @apply border-gray-400 ;
}
.languageSec{
    @apply flex flex-row mt-4 flex-wrap justify-center space-x-2
}

.languageIcons{
    @apply w-[45px] h-[35px] mt-2
    sm:w-[50px] sm:h-[40px]
}

@keyframes morph {
    0%,
    100% {
        border-radius:
        40% 60% 70% 30% /
        40% 40% 60% 50%;
    }
    34%{
        border-radius:
        70% 30% 50% 50% /
        30% 30% 70% 70%;
    }
    67%{
        border-radius:
        100% 60% 60% 100% /
        100% 100% 60% 60%;
    }
}
