.SobreMimContainer{
    @apply flex flex-col justify-center items-center w-[100%] h-[100%];
}

.SobreMimContent{
    @apply text-white w-[80%] h-[40%] flex justify-center items-center space-x-[10%] flex-wrap
    sm:flex sm:flex-row sm:justify-center sm:items-center sm:w-[90%] sm:h-[80%] sm:space-x-7 sm:space-y-10 sm:mt-5

}

.SobreMimLeft{
    @apply w-[35em] h-[70%] flex flex-col;
}

.SobreMimRight{
    @apply w-[30em] h-[70%] flex flex-col flex items-center justify-center mt-10 ;
}

.MyPhoto{
    @apply
    sm:w-[23em] sm:h-[23em] rounded-full border-white
    lg:ml-16
    w-[20em] h-[19em] mr-8
    ;
}

.Tittle-About{
    @apply text-2xl mt-14 text-[#4C70EF] font-semibold tracking-[3px] text-left;
}

.Tittle-Apresentation{
    @apply text-5xl text-left mt-14;
}

.About{
    @apply text-left mt-14 text-2xl text-[#B0ADAD];
}
.AboutEmail{
    @apply flex items-center w-full justify-center
}
.MyEmail{
    @apply mt-10 text-white border-2 border-dashed border-[#B0ADAD] px-20 py-3 text-lg text-center rounded-[10px] cursor-pointer
}
.AboutEmail:hover{
    @apply border-gray-400 ;
}
.languageSec{
    @apply flex flex-row mt-4 flex-wrap justify-center space-x-2
}

.languageIcons{
    @apply w-[45px] h-[35px] mt-2
    sm:w-[50px] sm:h-[40px]
}


