.EstudosCardContainer{
    @apply flex flex-row bg-[#292C36] rounded-2xl w-full max-w-[20em] p-4 h-auto
    md:min-h-[8em]
    xl:max-w-max
}

.IconDiv{
    @apply w-[4.1em] h-[3.1em] p-2 bg-[#38405A] rounded-[5px] flex items-center justify-center
}
.EstudosCardContent{
    @apply flex flex-col justify-start items-start ml-4 w-full
}

.EstudosCardTittle{
    @apply text-white text-base font-semibold text-left
    xl:text-lg
}


.EstudosCardText{
    @apply text-[#B0ADAD] text-xs font-semibold tracking-[1px]  text-left mt-1

}