.App {
  text-align: center;
  background-color: #212121;
  scroll-behavior: inherit;
  display: flex;
    flex-direction: column;
    justify-content: space-between;
;
}

body{
  scroll-behavior: inherit;
}
/* styles fonts */

.Tittle-About{
  font-family: 'Roboto Condensed', sans-serif;

}

.Tittle-Apresentation{
  font-family: 'Source Sans Pro', sans-serif;
}

.About{
  font-family: 'Source Sans Pro', sans-serif;
}

.PortfolioTittle{
  font-family: 'Roboto Condensed', sans-serif;
}

.LastProject{
  font-family: 'Source Sans Pro', sans-serif;
}

.Card-Button{
  font-family: 'Source Sans Pro', sans-serif;
}

.Card-Descricao{
  font-family: 'Source Sans Pro', sans-serif;
}

.EstudosTittle{
  font-family: 'Roboto Condensed', sans-serif;

}

.EstudosCardTittle{
  font-family: 'Source Sans Pro', sans-serif;
}
.NavbarMobile{
  font-family: 'Source Sans Pro', sans-serif;
}


